<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin's Report</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,400i,700" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />

  </head>

  <body>
    <form action="form.php" method="post">
        <p>
            <label for="date">Date:</label>
            <input type="text" name="date" id="date">
        </p>
        <p>
            <label for="missedPatientActivity">Missed Patient Activity:</label>
            <input type="text" name="missedPatientActivity" id="missedPatientActivity">
        </p>

        <a class="buttons" href=" ">Ok</a>
        <a class="buttons" href=" ">Cancel</a>

    </form>
  </body>
</html>
