<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Doctor's Appointments</title>
    <link href = "styles.css" rel= "stylesheet">
  </head>

  <body>

    <form action="form.php" method="post">
        <p>
            <label for="patientId">Patient Id:</label>
            <input type="text" name="patient" id="patientId">
        </p>
        <p>
            <label for="date">Date:</label>
            <input type="text" name="date" id="date">
        </p>
        <p>
            <label for="doctor">Doctor:</label>
            <input type="text" name="doctor" id="doctor">
        </p>
        <p>
            <label for="patientName">Patient Name:</label>
            <input type="text" name="patientName" id="patientName">
        </p>
        <a class="buttons" href=" ">Ok</a>
          <a class="buttons" href=" ">Cancel</a>

    </form>

  </body>
</html>
