<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Login Page</title>
    <link href = "styles.css" rel= "stylesheet">
  </head>

  <body>

    <form action="../PHPFiles/logIn.php" method="post">
        <p>
            <label for="email">email:</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">password:</label>
            <input type="text" name="password" id="password">
        </p>
        <input type="submit" name= "logIn" value="submit">
        <input type="submit" value="Cancel">

    </form>

  </body>
</html>
