<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Roster</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato:400,400i,700" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />

  </head>

  <body>

    <form action="form.php" method="post">
      <p>
          <label for="date">Date:</label>
          <input type="text" name="date" id="date">
      </p>
      <p>
        <label for="supervisor">Supervisor:</label>
        <input type="text" name="supervisor" id="supervisor">
      </P>
      <p>
          <label for="doctor">Doctor:</label>
          <input type="text" name="doctor" id="doctor">
      </p>
      <p>
          <label for="caregiver1">Caregiver 1:</label>
          <input type="text" name="caregiver1" id="caregiver1">
      </p>
      <p>
        <label for="caregiver2">Caregiver 2:</label>
        <input type="text" name="caregiver2" id="caregiver2">
      </P>
      <p>
          <label for="caregiver3">Caregiver 3:</label>
          <input type="text" name="caregiver3" id="caregiver3">
      </p>
      <p>
        <label for="caregiver4">Caregiver 4:</label>
        <input type="text" name="caregiver4" id="caregiver4">
      </p>
      <a class="buttons" href=" ">Ok</a>
      <a class="buttons" href=" ">Cancel</a>

    </form>

  </body>
</html>
