<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Login Page</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>

  <body>
<div class="patientInfo">
  <h1>Patient Info</h1>
    <form action="form.php" method="post">
        <p>
            <label for="patientId">Patient Id:</label>
            <input type="text" name="patient" id="patientId">
        </p>
        <p>
            <label for="group">Group:</label>
            <input type="text" name="group" id="group">
        </p>
        <p>
            <label for="admissionDate">Admission Date:</label>
            <input type="text" name="admissionDate" id="admissionDate">
        </p>
        <p>
            <label for="patientName">Patient Name:</label>
            <input type="text" name="patientName" id="patientName">
        </p>
        <a class="buttons" href=" ">Ok</a>
          <a class="buttons" href=" ">Cancel</a>

    </form>
</div>
  </body>
</html>
