<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form class="register_page" action="../PHPFiles/central.php" method="post">
    <div>
      <text>First_Name</text>
       <input type="text" name="first_name" id="firstName"></input>
       <text>Last_Name</text>
       <input type="text" name="last_name" id="lastName"></input>
       <text>Email-Address</text>
       <input type="text" name="email_id" id="email_id"></input>
       <text>Phone</text>
       <input type="text" name="phone" id="phone"></input>
       <text>Password</text>
       <input type="text" name="password" id="password"></input>
       <text>Date of Birth</text>
      <input type="text" name="DOB" id="DOB"></input>
      <text>Role</text>
     <input type="text" name="Role" id="Role"></input>
    </div>
      <input type="submit" value="Register">
  </form>
  </body>
</html>
