<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Register</title>
    <link href = "styles.css" rel= "stylesheet">
  </head>

  <body>

    <form action="form.php" method="post">
        <p>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName">
        </p>
        <p>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName">
        </p>
        <p>
            <label for="email">Email ID:</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password">
        </p>
        <p>
            <label for="DateOfBirth">Date of Birth:</label>
            <input type="text" name="DateOfBirth" id="DateOfBirth">
        </p>
        <a class="buttons" href=" ">Ok</a>
        <a class="buttons" href=" ">Cancel</a>
  </body>
</html>
